*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
textarea { 
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body{
    background-color: #1d1d1d;
}
::-webkit-scrollbar-track{
    position: absolute;
    background: #2e3338;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background: #202225;
    border-radius: 5px;
}

:root{
    --sidebar: #181818;
    --sidebar-link-icon: #3ac5c9;
    --sidebar-social-icon: #727277;
    --sidebar-hover: #3ac5c9;
}

// sidebar
aside{
    width: 150px;
    height: 100%;
    position: fixed;
    background: var(--sidebar);
    top: 0;
    left: 0;
    z-index: 10;
    .aside-wrapper{
        width: 100%;
        min-height: 90vh;
        overflow-y: auto;
        margin: auto;
        display: flex;
        flex-direction: column;
        // justify-content: space-evenly;
        .picture{
            width: 100%;
            height: 200px;
            display: flex;
            align-items: center;
            justify-content: center;
            .myself{
                background: url('./assets/images/joitaro.jpg');
                width: 100%;
                height: 100%;
                background-position: center;
                background-size: cover;
                border-radius: 5px;
            }
        }
        .side-link{
            margin-top: 50px;
            li{
                line-height: 3.8;
                display: flex;
                border-top: 2px solid #1d1d1d;
                .link-icon{
                    font-size: 15px;
                    margin-right: 15px;
                    margin-left: 15px;
                    color: var(--sidebar-link-icon);
                }
                .link-section{
                    color: #6d6d6d;
                    font-weight: bold;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    transition: 0.3s ease-out;
                    &:hover{
                        color: var(--sidebar-hover);
                    }
                }
            }
        
        }
        .social-icon{
            right: 100px;
            bottom: 0;
            border-top: 2px solid #1d1d1d;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 15px;
            a{
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0px 5px;
            }
            .icon{
                font-size: 24px;
                color: var(--sidebar-social-icon);
                transition: 0.3s ease-out;
                &:hover{
                    color: var(--sidebar-hover);
                }
            }
        }
    }
}

// header
@keyframes moveUpDown {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes fadeInLeftToRight {
    from {
        opacity: 0;
        transform: translateX(-40px);
    }
    to {
        opacity: 1;
        transform: translateX(-20px);
    }
}
.header-container{
    height: 100vh;
    display: flex;
    align-items: center;
    margin-left: 150px;
    padding-left: 80px;
    position: relative;
    &:after{
        content: '';
        width: 50%;
        height: 50%;
        // background-color: #3ac5c9;
        position: absolute;
        bottom: 0;
        right: 0;
        background: url('./assets/images/headerBackground.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right bottom;
        opacity: 0.3;
        border-radius: 15px 0 0 0;
        overflow: hidden;
        z-index: -1;
    }
    
    
    .intro{
        .fake-code{
            color: #727277;
            font-family: 'Roboto Mono';
            margin-bottom: 10px;
            margin-left: -20px;
            animation: fadeInLeftToRight 1s ease-out forwards;
        }
        .scrolldown{
            writing-mode: vertical-rl;
            position: absolute;
            display: flex;
            align-items: center;
            left: 10px;
            bottom: 10px;
            color: #dadada;
            span{
                animation: moveUpDown 1s ease infinite;
                margin-bottom: 10px;
            }
        }
        h1{
            font-size: 3rem;
            line-height: 4rem;
            color: #ffffff;
            letter-spacing: -1px;
            font-weight: 700;
            span{
                display: inline-block;
                user-select: none;
                &:hover{
                    color: #3ac5c9;
                }
            }
            span.myName span{
                color: #3ac5c9;
                &:hover{
                    color: #ffffff;
                }
            }
        }
        .cv-btn{
            display: block;
            width: 100%;
            height: 50px;
            max-width: 200px;
            line-height: 50px;
            margin: 50px 0;
            position: relative;
            overflow: hidden;
            border: 1px solid #3ac5c9;
            opacity: 0;
            animation: fadeIn 1s ease-out forwards;
            div{
                width: 100%;
                height: 100%;
                .background{
                    width: 0%;
                    height: 100%;
                    position: absolute;
                    left: -5%;
                    top: 0;
                    transform: skewX(-20deg);
                    transition:  0.3s linear;
                }
            }
            &:hover{
                .background{
                    background-color: #3ac5c9;
                    width: 110%;
                }
                .text{
                    color: #1d1d1d;
                }
            }
            .text{
                text-align: center;
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                color: #3ac5c9;
            }
        }
    }
}

    
// about
@keyframes animate1{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
}
@keyframes animate2{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-200%);
    }
}
.fake-code{
    color: #727277;
    font-family: 'Roboto Mono';
    // margin-top: 10px;
    margin-left: -20px;
    // animation: fadeInLeftToRight 1s ease-out forwards;
}
.abt-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 150px;
    padding-left: 80px;
    overflow: hidden;
    .reveal-section{
        opacity: 0;
    }
    .content{
        
        h1{
            font-size: 3rem;
            line-height: 4rem;
            letter-spacing: -1px;
            font-weight: 700;
            span{
                display: inline-block;
                color: #3ac5c9;
                user-select: none;
                &:hover{
                    color: #ffffff;
                }
            }
        }
        p{
            max-width: 50%;
            color: #ffffff;
            font-size: 1.5rem;
            // animation: fadeIn 1s ease-out forwards;
        }
    }
    .banner-texts{
        width: 100%;
        display: flex;
        overflow: hidden;
        margin: 10px 0;
        div{
            color: #000000;
            letter-spacing: 1px;
            font-size: 2rem;
            white-space: nowrap;
            background-color: #ffffff;
            font-weight: 900;
            animation: animate1 80s linear infinite;
            animation-delay: -80s;
            span{
                -webkit-text-stroke: 2px #000000;
                color: transparent;
            }
        }
        div:nth-child(2){
            animation: animate2 80s linear infinite;
            animation-delay: -40s;

        }
    }
}