*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
textarea { 
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');
body{
    background-color: #1d1d1d;
}
::-webkit-scrollbar-track{
    position: absolute;
    background: #2e3338;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background: #202225;
    border-radius: 5px;
}

:root{
    --sidebar: #181818;
    --sidebar-link-icon: #3ac5c9;
    --sidebar-social-icon: #727277;
    --sidebar-hover: #3ac5c9;
}
// responsive
@mixin mobile{
    @media screen and (max-width: 480px){
        @content
    }
}
@mixin tablet{
    @media screen and (max-width: 768px){
        @content
    }
}
@mixin laptop{
    @media screen and (max-width: 1200px){
        @content
    }
}
// sidebar
aside{
    width: 150px;
    height: 100%;
    position: fixed;
    background: var(--sidebar);
    top: 0;
    left: 0;
    z-index: 10;
    @include tablet{
        display: none;
    }
    .aside-wrapper{
        width: 100%;
        min-height: 90vh;
        overflow-y: auto;
        margin: auto;
        display: flex;
        flex-direction: column;
        // justify-content: space-evenly;
        .picture{
            width: 100%;
            height: 200px;
            display: flex;
            align-items: center;
            justify-content: center;
            .myself{
                background: url('./assets/images/joitaro.jpg');
                width: 100%;
                height: 100%;
                background-position: center;
                background-size: cover;
                border-radius: 5px;
            }
        }
        .side-link{
            margin-top: 50px;
            li{
                line-height: 3.8;
                display: flex;
                border-top: 2px solid #1d1d1d;
                .link-icon{
                    font-size: 15px;
                    margin-right: 15px;
                    margin-left: 15px;
                    color: var(--sidebar-link-icon);
                }
                .link-section{
                    color: #6d6d6d;
                    font-weight: bold;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    transition: 0.3s ease-out;
                    &:hover{
                        color: var(--sidebar-hover);
                    }
                }
            }
        
        }
        .social-icon{
            right: 100px;
            bottom: 0;
            border-top: 2px solid #1d1d1d;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 15px;
            a{
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0px 5px;
            }
            .icon{
                font-size: 24px;
                color: var(--sidebar-social-icon);
                transition: 0.3s ease-out;
                &:hover{
                    color: var(--sidebar-hover);
                }
            }
        }
    }
}

// header
@keyframes moveUpDown {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes fadeInLeftToRight {
    from {
        opacity: 0;
        transform: translateX(-40px);
    }
    to {
        opacity: 1;
        transform: translateX(-20px);
    }
}
@keyframes cursor {
    50%{
        border-color: transparent;
    }
}
@keyframes typing {
    from{
        width: 0;
    }
}
.header-container{
    height: 100vh;
    display: flex;
    align-items: center;
    margin-left: 150px;
    padding-left: 80px;
    position: relative;
    @include tablet{
        margin: 0;
        padding-left: 50px;
    }
    &:after{
        content: '';
        width: 50%;
        height: 50%;
        // background-color: #3ac5c9;
        position: absolute;
        bottom: 0;
        right: 0;
        background: url('./assets/images/headerBackground.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right bottom;
        opacity: 0.3;
        border-radius: 15px 0 0 0;
        overflow: hidden;
        z-index: -1;
        @include tablet{
            width: 70%;
            height: 30%;
        }
        @include mobile{
            height: 20%;
        }
    }
    
    
    .intro{
        width: 90%;
        .fake-code{
            color: #727277;
            font-family: 'Courier Prime', monospace;
            margin-bottom: 10px;
            margin-left: -20px;
            animation: fadeInLeftToRight 1s ease-out forwards;
        }
        .scrolldown{
            writing-mode: vertical-rl;
            position: absolute;
            display: flex;
            align-items: center;
            left: 10px;
            bottom: 10px;
            color: #dadada;
            span{
                animation: moveUpDown 1s ease infinite;
                margin-bottom: 10px;
            }
        }
        .fake-code-typing{
            z-index: -1;
            position: absolute;
            top: 10px;
            right: 10px;
            color: #727277;
            font-family: 'Courier Prime', monospace;
            display: inline-block;
            display: flex;
            @include mobile{
                font-size: 0.7rem;
            }
            p{
                font-family: 'Courier Prime', monospace;
                border-right: 5px solid #727277;
                width: 100%;
                white-space: nowrap;
                overflow: hidden;
                animation:typing 2s steps(18), cursor 0.4s step-end infinite alternate;
                
            }
        }
        h1{
            font-size: 3rem;
            line-height: 4rem;
            color: #ffffff;
            letter-spacing: -1px;
            font-weight: 700;
            margin-bottom: 10px;
            @include tablet{
                font-size: 2rem;
                line-height: 3rem;
            }
            @include mobile{
                font-size: 1.2rem;
                line-height: 2rem;
                letter-spacing: 0px;
            }
            span{
                display: inline-block;
                user-select: none;
                &:hover{
                    color: #3ac5c9;
                }
            }
            span.myName span{
                color: #3ac5c9;
                &:hover{
                    color: #ffffff;
                }
            }
        }
        .cv-btn{
            display: block;
            height: 50px;
            max-width: 200px;
            line-height: 50px;
            margin: 50px 0;
            position: relative;
            overflow: hidden;
            border: 1px solid #3ac5c9;
            opacity: 0;
            animation: fadeIn 1s ease-out forwards;
            @include mobile{
                max-width: 170px;
            }
            div{
                width: 100%;
                height: 100%;
                .background{
                    width: 0%;
                    height: 100%;
                    position: absolute;
                    left: -5%;
                    top: 0;
                    transform: skewX(-20deg);
                    transition:  0.3s linear;
                }
            }
            &:hover{
                .background{
                    background-color: #3ac5c9;
                    width: 110%;
                }
                .text{
                    color: #1d1d1d;
                }
            }
            .text{
                text-align: center;
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                color: #3ac5c9;
            }
        }
    }
}

    
// about
@keyframes animate1{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
}
@keyframes animate2{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-200%);
    }
}
.fake-code{
    color: #727277;
    font-family: 'Courier Prime', monospace;
    // margin-top: 10px;
    margin-left: -20px;
    // animation: fadeInLeftToRight 1s ease-out forwards;
}
.abt-container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 150px;
    padding: 20px 0 20px 80px;
    overflow: hidden;
    @include tablet{
        margin: 0;
        padding-left: 50px;
    }
    .reveal-section{
        opacity: 0;
    }
    .content{
        
        h1{
            font-size: 3rem;
            line-height: 4rem;
            letter-spacing: -1px;
            font-weight: 700;
            @include tablet{
                // font-size: 2rem;
                // line-height: 3rem;
            }
            @include mobile{
                // font-size: 1.2rem;
                // line-height: 2rem;
                // letter-spacing: 0px;
            }
            span{
                display: inline-block;
                color: #3ac5c9;
                user-select: none;
                &:hover{
                    color: #ffffff;
                }
                
            }
        }
        p{
            max-width: 80%;
            color: #ffffff;
            font-size: 1.5rem;
            @include mobile{
                font-size: 1rem;
                max-width: 90%;
            }
            // animation: fadeIn 1s ease-out forwards;
        }
        // .skills
    }
    .banner-texts{
        width: 100%;
        display: flex;
        overflow: hidden;
        margin: 10px 0;
        div{
            color: #1d1d1d;
            letter-spacing: 1px;
            font-size: 2rem;
            white-space: nowrap;
            background-color: #ffffff;
            font-weight: 900;
            animation: animate1 80s linear infinite;
            animation-delay: -80s;
            span{
                // -webkit-text-stroke: 2px #000000;
                color: #3ac5c9;
            }
        }
        div:nth-child(2){
            animation: animate2 80s linear infinite;
            animation-delay: -40s;

        }
    }
}

// projects
.projects-container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 150px;
    padding: 20px 0 20px 80px;
    
    @include tablet{
        margin: 0;
        padding-left: 50px;
    }
    .reveal-section{
        opacity: 0;
    }
    h1{
        font-size: 3rem;
        line-height: 4rem;
        letter-spacing: -1px;
        font-weight: 700;
        span{
            display: inline-block;
            color: #3ac5c9;
            user-select: none;
            &:hover{
                color: #ffffff;
            }
        }
    }
    p{
        max-width: 95%;
        color: #ffffff;
        font-size: 1rem;
    }
    .projects-wrapper{
        max-width: 90%;
        height: 250px;
        margin: 10px 0;
        display: flex;
        flex-direction: column;
        gap: 20px;
        overflow-y: scroll;
        &::-webkit-scrollbar{
            width: 0;
        }
        @include mobile{
            height: 600px;
        }
    }
    .project{
        
        width: 100%;
        // min-height: 200px;
        display: flex;
        // border-right: 1px solid #3ac5c9;
        position: relative;
        &:hover::after{
            width: 100%;
        }
        
        @include mobile{
            flex-direction: column;
            align-items: center;
        }
        &:after{
            content: '';
            width: 0.1px;
            height: 1px;
            background: #3ac5c9;
            position: absolute;
            bottom: 0;
            left: 0;
            transition: 0.3s ease-out ;
        }
        box-shadow:
        0px 1.4px 1.1px rgba(0, 0, 0, 0.01),
        0px 3.3px 2.5px rgba(0, 0, 0, 0.014),
        0px 5.7px 4.3px rgba(0, 0, 0, 0.017),
        0px 9px 6.9px rgba(0, 0, 0, 0.02),
        0px 13.9px 10.6px rgba(0, 0, 0, 0.023),
        0px 21.7px 16.6px rgba(0, 0, 0, 0.026),
        0px 36px 27.5px rgba(0, 0, 0, 0.03),
        0px 72px 55px rgba(0, 0, 0, 0.04)
        ;
        img{
            width: 20%;
            height: 173px;
            object-fit: cover;
            @include mobile{
                width: 90%;
                margin-bottom: 20px;
            }
        }
        &:last-child{
            margin-bottom: 20px;
        }
        .content{
            user-select: none;
            height: 100%;
            padding-left: 20px;
            text-align: left;
            
        }
        h2{
            color: #3ac5c9;
            margin-bottom: 10px;
            font-family: 'Courier Prime', monospace;
            opacity: 0.8;
        }
        .desc{
            font-family: 'Courier Prime', monospace;
            margin-bottom: 10px;
            color: #dadada;
        }
        .stack{
            font-family: 'Courier Prime', monospace;
            color: #727277;
            margin-bottom: 10px;
        }
        span{
            margin-left: 20px;
            font-family: 'Courier Prime', monospace;
        }
        .project-links{
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            a{
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0px 5px;
            }
            .icon{
                font-size: 24px;
                color: var(--sidebar-social-icon);
                transition: 0.3s ease-out;
                &:hover{
                    color: var(--sidebar-hover);
                }
            }
        }
    }
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #2a2a2a inset !important;
}
input:-webkit-autofill{
    -webkit-text-fill-color: #dadada !important;
}
.contact-container{
    min-height: 100vh;
    margin-left: 150px;
    padding-left: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include tablet{
        margin: 0;
        padding-left: 50px;
    }
    .reveal-section{
        opacity: 0;
    }
    .content{
        // height: 40%;
        h1{
            font-size: 3rem;
            line-height: 4rem;
            letter-spacing: -1px;
            font-weight: 700;
            span{
                display: inline-block;
                color: #3ac5c9;
                user-select: none;
                &:hover{
                    color: #ffffff;
                }
            }
        }
        .form-section{
            width: 60%;
            height: 70%;
            margin-top: 20px;
            @include mobile{
                width: 90%;
            }
            .contact-form{
                margin-top: 20px;
                margin-bottom: 20px;
                width: 100%;
                // height: 100%;
                .input-section{
                    // width: 100%;
                    // height: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    input, textarea{
                        outline: none;
                        border: none;
                        background-color: #2a2a2a;
                        color: #dadada;
                        padding: 10px 20px;
                        font-size: 1.1rem;
                    }
                }
                
                


                .row1{
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .name-input{
                        width: 49%;
                    }
                    .email-input{
                        width: 49%;
                    }
                }
                .row2{
                    width: 100%;
                }
                .row3{
                    width: 100%;
                    max-width: 100%;
                    height: 100px;
                    max-height: 100px;
                }
                .submit-btn{
                    width: 42%;
                    position: relative;
                    margin-top: 20px;
                    overflow: hidden;
                    input{
                        width: 100%;
                        outline: none;
                        border: none;
                        background-color: transparent;
                        color: #3ac5c9;
                        padding: 10px 20px;
                        
                        font-size: 1.1rem;
                        border: 1px solid #3ac5c9;
                        transition: 0.3s ease-out;
                    }
                    
                    &:after{
                        content: '';
                        z-index: -1;
                        position: absolute;
                        width: 0%;
                        height: 100%;
                        background-color: #3ac5c9;
                        top: 0;
                        left: -5%;
                        transform: skewX(-20deg);
                        transition:  0.3s linear;
                    }
                    &:hover{
                        input{
                            color: #1d1d1d;
                        }
                        &::after{
                            width: 110%;
                        }
                    }
                    
                }
            }
        }
    }
}
.toast{
    background-color: #2a2a2a;
    color: #dadada;
}



